/*#game {
      
}

canvas {
      border: 2px solid black;
      background-color: black;
      border-radius: 20px;
      z-index: 1;
      width: ;
      height: ;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
}*/